.round-button {
    width: 60px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 60px;
    border-radius: 50%; /* Hace que el botón sea redondo */
    background-color: #ffa900; /* Cambia el color de fondo según tu diseño */
    border: none; /* Elimina el borde del botón */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
    right: 100px;
  }
  
  .round-button:hover {
    background-color: #ff8500; /* Cambia el color de fondo al pasar el mouse por encima (opcional) */
  }
  
  .round-button i {
    font-size: 24px; /* Ajusta el tamaño del icono según tus necesidades */
    color: white; /* Cambia el color del icono según tu diseño */
  }

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos para el chat */
.chat-container {
    position: fixed;
    max-width: 300px;
}

.chat {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    background-color: #ffa900; /* Verde de WhatsApp */
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat h2 {
    margin: 0;
    font-size: 1.2rem;
}

.chat-messages {
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word; /* Permite que los mensajes largos se colapsen hacia abajo */
}

.sender {
    background-color: #dcf8c6; /* Verde claro de WhatsApp */
    color: #000;
    text-align: right;
    align-self: flex-end;
    margin-left: auto; /* Empuja los mensajes de los remitentes a la derecha */
}

.receiver {
    background-color: #fff;
    color: #000;
    text-align: left;
    align-self: flex-start;
    margin-right: auto; /* Empuja los mensajes de los receptores a la izquierda */
}

.message .time {
    font-size: 0.8rem;
    color: #777;
    margin-left: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 0.9rem;
    width: 50%;
}

.chat-input button {
    background-color: #ffa900; /* Verde de WhatsApp */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center; /* Centra el texto en el botón horizontalmente */
}

.chat-input button:hover {
    background-color: #ffaa00be; /* Verde más oscuro de WhatsApp */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .chat-container {
        right: 10px;
    }
}



/* Estilos para el botón de cierre */
.close-button {
    background-color: transparent;
    border: none;
    color: #19202e; /* Color de enlace de WhatsApp */
    cursor: pointer;
    font-size: 0.9rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

.close-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #19202e; /* Color de fondo del círculo */
    color: #fff; /* Color del icono */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
}

/* ... (Estilos restantes) ... */
