<div class="container" style="margin-top: 15%;">
    <h1 class="text-primary">Mayor o Menor</h1>
    <div class="carta">
      <img [src]="obtenerRutaImagen(cartaActual)" alt="{{ cartaActual?.numero }} de {{ cartaActual?.palo }}">
    </div>
    <div>
      <h2 class="text-primary">¿La siguiente carta será mayor o menor?</h2>
      <button class="btn btn-warning" (click)="verificarAdivinanza(true)">Mayor</button>
      <button class="btn btn-warning" >Igual</button>
      <button class="btn btn-warning" (click)="verificarAdivinanza(false)">Menor</button>
    </div>
    <div *ngIf="resultado !== ''">
      <h2 style="color: #fe655c;">Resultado: {{ resultado }}</h2>
      <!--<button (click)="iniciarJuego()">Jugar de Nuevo</button>-->
    </div>
</div>
  
