<body class="text-center" style="margin-top: 8%;">
    <form class="form-signin">
      <div class="page">
        <div class="circle">
            <img class="mb-4" src="../assets/logo.png" alt="">
        </div>
    </div>
      <h1 class="h3 mb-3 font-weight-normal">Iniciar sesion</h1>
      <input type="usuario" class="form-control" placeholder="Usuario" [(ngModel)]="usuario" name="usuario">
      <br>
      <input type="password"  class="form-control" placeholder="Contraseña" [(ngModel)]="contrasenia" name="contrasenia">
      <div class="checkbox mb-3">
        <label>
          <br>
          <input type="checkbox" value="remember-me"> Recordarme
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="ingresar()">Ingresar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
</body>
